/*
*
* ABOUT GAME START
*
*/

.about-game{
	background-color: $white;
	.container{
		flex-wrap: wrap;
	}
}


.description{
	text-align: center;
	p{
		margin: 0 10px 48px;
	}
}

.advantages{
	justify-content: space-between;
	flex-wrap: wrap;
}

.advantages-box{
	text-align: center;
	width: 30%;
	&:nth-child(3n+2){
		margin-top: 32px;
	}
	h3{
		margin: 20px 5px 20px;
	}
	img{
		border-radius: 20px;
		// &:hover{
		// 	opacity: 0.5;
		// }
	}
	// .gradient{
	// 	background-color: #00bac6;
	// 	border-radius: 20px;
	// }
}

/*
*
* ABOUT GAME END
*
*/


