/*
*
* BANNER START
*
*/

.banner{
	height: calc(100vh - 149px);
	position: relative;
	.container{
		height: inherit;
		max-width: 980px;
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%);
		padding: 0;
		align-items: center;
	}
}

.fa-angle-left,
.fa-angle-right{
	font-size: 5rem;
	color: $white;
	opacity: 0.65;
	&:hover{
		opacity: 1;
	}
}
/*
*
* BANNER END
*
*/