/*
*
* EVENTS BEGIN
*
*/

.events{
	background-color: $grey;
}

.event-box{
	text-align: center;
	.details{
		width: 50%;
		text-align: left;
	}
	#map{
		width: 50%;
		min-height: calc(width);
	}
}


/*
*
* EVENTS END
*
*/