/*
*
* HEADER START
*
*/

.header{
	background-color: $black;
	.container{
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}
}

.logo{
	padding: 7px 15px;
}

.soc-nav{
	padding-right: 8px;
	a{
		font-size: 1.375rem;
		padding: 10px 12px;
		color: $lgrey;
	}
}

/*
*
* HEADER END
*
*/