/*
*
* MAIN BODY START
*
*/

html{
	font-size: 16px;
}

ul,
body{
	margin: 0;
	padding: 0;
}

nav > ul{
	list-style: none;
}

img{
	width: 100%;
	display: block;
}

a{
	text-decoration: none;
}

h2{
	margin-top: 0;
}

section{
	position: relative;
}

$opensans: 'Open Sans', sans-serif;
$ptsans: 'PT Sans', sans-serif;
$white: #ffffff;
$grey: #eeeeee;
$dgrey: #8b8b8b;
$lightblue1: rgba(0, 186, 198, 1);
$lightblue05: rgba(0, 186, 198, .5);

.container{
	max-width: 980px;
	margin: 0 auto;
	padding-bottom: 100px;
	padding-top: 25px;
}

.flex-container{
	display: flex;
}

.text-box{
	text-align: center;
}

::placeholder {
    color: $dgrey;
}

@mixin arrow{
  width: 0; 
  height: 0; 
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
}

.arrow-grey{
	@include arrow;
	border-bottom: 50px solid $grey;
}

.arrow-white{
	@include arrow;
	border-bottom: 50px solid $white;
}

%input-shared{
	width: 100%;
	border: 1px solid $lightblue1;
	margin-bottom: 15px;
}

/*
*
* MAIN BODY END
*
*/