/*
*
* MAIN BODY START
*
*/
html{
	font-size: 16px;
}

ul,
body{
	margin: 0;
	padding: 0;
}

nav > ul{
	list-style: none;
}

img{
	width: 100%;
	display: block;
}

// p{
// 	line-height: 
// }

.container{
	max-width: 980px;
	margin: 0 auto;
	padding-bottom: 78px;
	padding-top: 25px;
}

.flex-container{
	display: flex;
}

.text-box{
	text-align: center;
}

$opensans: 'Open Sans', sans-serif;
$ptsans: 'PT Sans', sans-serif;
$white: #ffffff;
// .main-view{
// 	height: 100vh;
// }




/*
*
* MAIN BODY END
*
*/