/*
*
* NAVIGATION START
*
*/

.navigation{
	background-color: $white;
	border-bottom: 4px solid #efefef;
	position: sticky;
	top: 0;
	opacity: 0.7;
	z-index: 2;
	.container{
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 0;

	}
}

.main-nav{
	margin-top: 37px;
	margin-bottom: 24px;
	a{
		font-size: 0.875rem;
		text-transform: uppercase;
		color: $dgrey;
		padding: 10px 12px 24px;
		line-height: 1.4285;
		&:hover{
			color: #00bac6;
			padding-bottom: 24px;
			border-bottom: 2px solid #00bac6;
		}
	}
	ul{
		flex-wrap: wrap;
	}
}

.search-box{
	border: 1px solid $lightblue1;
	border-radius: 5px;
	input[type=text]{
		border: none;
		padding: 10px;
		margin: 0;
		font-size: 1rem;
		color: $dgrey;

	}
	button{
		background-color: $white;
		border: 0;
		font-size: 1.5rem;
		color: $dgrey;
		padding-right: 10px;
		margin-right: 2px;
		cursor: pointer;
	}
}

/*
*
* NAVIGATION END
*
*/