/*
*
* NAVIGATION START
*
*/

.navigation{
	background-color: $white;
	border-bottom: 4px solid #efefef;
	position: sticky;
	top: 0;
	opacity: 0.7;
	z-index: 2;
	.container{
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}
}

.main-nav{
	margin-top: 37px;
	margin-bottom: 24px;
	a{
		font-family: $opensans;
		font-size: 0.875rem;
		text-transform: uppercase;
		text-decoration: none;
		color: #8b8b8b;
		padding: 10px 12px 24px;
		line-height: 1.4285;
		&:hover{
			color: #00bac6;
			padding-bottom: 24px;
			border-bottom: 2px solid #00bac6;
		}
	}
	ul{
		flex-wrap: wrap;
	}
}

.search-box{
	// height: 34px;
	border: 1px solid #d6d6d6;
	align-items: center;
	p{
		font-family: $opensans;
		font-size: 0.8125rem;
		color: #b5b5b5;
		line-height: 1.5384;
		margin: 7px 19px;
	}
	i{
		font-size: 1.1875rem;
		color: #b5b5b5;
		margin-right: 20px;
	}
}

/*
*
* NAVIGATION END
*
*/