/*
*
* RESPONSIVE BEGIN
*
*/

@media all and (max-width: 820px){
	.nav{
		display: none;
		flex-wrap: wrap;
	}

	.nav.show{
		display: block;
	}

	.menu-item{
		width: 100%;
	}

	.burger{
		display: block;
	}
}

/*
*
* RESPONSIVE BEGIN
*
*/