/*
*
* RESPONSIVE BEGIN
*
*/
@media all and (max-width: 600px) {
  .nav {
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .nav.show {
    display: block;
  }
  .menu-item {
    width: 100%;
  }
  .burger {
    display: block;
  }
}

/*
*
* RESPONSIVE BEGIN
*
*/
