/*
*
* RESET BEGIN
*
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
*
* RESET END
*
*/
/*
*
* MAIN BODY START
*
*/
html {
  font-size: 16px;
}

ul,
body {
  margin: 0;
  padding: 0;
}

nav > ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h2 {
  margin-top: 0;
}

section {
  position: relative;
}

@font-face {
  font-family: 'Game of Thrones';
  src: url("../fonts/subset-GameofThrones.eot");
  src: url("../fonts/subset-GameofThrones.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-GameofThrones.woff2") format("woff2"), url("../fonts/subset-GameofThrones.woff") format("woff"), url("../fonts/subset-GameofThrones.ttf") format("truetype"), url("../fonts/subset-GameofThrones.svg#GameofThrones") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 100px;
  padding-top: 25px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.text-box {
  text-align: center;
}

::-webkit-input-placeholder {
  color: #8b8b8b;
  font-size: 0.875rem;
}

:-ms-input-placeholder {
  color: #8b8b8b;
  font-size: 0.875rem;
}

::-ms-input-placeholder {
  color: #8b8b8b;
  font-size: 0.875rem;
}

::placeholder {
  color: #8b8b8b;
  font-size: 0.875rem;
}

.arrow-grey {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 50px solid #eeeeee;
}

.arrow-white {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: -50px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  border-bottom: 50px solid #ffffff;
}

/*
*
* MAIN BODY END
*
*/
/*
*
* HEADER START
*
*/
.header {
  background-color: #252323;
}

.header .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
}

.logo {
  padding: 7px 15px;
}

.soc-nav {
  padding-right: 8px;
}

.soc-nav a {
  font-size: 1.375rem;
  padding: 10px 12px;
  color: #efefef;
}

/*
*
* HEADER END
*
*/
/*
*
* NAVIGATION START
*
*/
.navigation {
  background-color: #ffffff;
  border-bottom: 6px solid #efefef;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navigation .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
}

.main-nav {
  margin-top: 37px;
  margin-bottom: 24px;
}

.main-nav a {
  font: 0.875rem "Game of Thrones", sans-serif;
  text-transform: uppercase;
  color: #8b8b8b;
  padding: 10px 12px 24px;
}

.main-nav a:hover {
  color: #00bac6;
  padding-bottom: 26px;
  border-bottom: 3px solid #00bac6;
}

.main-nav ul {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-box {
  margin-top: 28px;
  border-radius: 5px;
}

.search-box input[type=text] {
  border: none;
  padding: 10px;
  margin: 0;
  font-size: 0.875rem;
  color: #8b8b8b;
}

.search-box button {
  background-color: #ffffff;
  border: 0;
  font-size: 1.375rem;
  color: #8b8b8b;
  padding-right: 10px;
  margin-right: 2px;
  cursor: pointer;
}

.search-box ::-webkit-input-placeholder {
  color: #8b8b8b;
  text-transform: uppercase;
  font: 0.875rem "Game of Thrones", sans-serif;
}

.search-box :-ms-input-placeholder {
  color: #8b8b8b;
  text-transform: uppercase;
  font: 0.875rem "Game of Thrones", sans-serif;
}

.search-box ::-ms-input-placeholder {
  color: #8b8b8b;
  text-transform: uppercase;
  font: 0.875rem "Game of Thrones", sans-serif;
}

.search-box ::placeholder {
  color: #8b8b8b;
  text-transform: uppercase;
  font: 0.875rem "Game of Thrones", sans-serif;
}

/*
*
* NAVIGATION END
*
*/
/*
*
* BANNER START
*
*/
.banner {
  background-image: url("../images/daenerys.jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 59px - 81px);
  position: relative;
}

.banner .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20%);
  -ms-transform: translate(-50%, -20%);
  transform: translate(-50%, -20%);
  padding: 0;
}

.banner-text h1 {
  font: 2.5rem "Game of Thrones", sans-serif;
  color: #ffffff;
  line-height: 1.5;
  word-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.banner-text p {
  color: #ffffff;
  font-size: 0.9375rem;
  text-align: right;
  line-height: 1.25;
}

/*
*
* BANNER END
*
*/
/*
*
* ABOUT GAME START
*
*/
.about-game {
  background-color: #ffffff;
}

.about-game .container {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.description {
  text-align: center;
}

.description p {
  margin: 0 10px 48px;
}

.advantages {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.advantages-box {
  text-align: center;
  width: 30%;
}

.advantages-box:nth-child(3n+2) {
  margin-top: 32px;
}

.advantages-box h3 {
  margin: 20px 5px 20px;
}

.advantages-box img {
  border-radius: 20px;
}

/*
*
* ABOUT GAME END
*
*/
/*
*
* ABOUT US BEGIN
*
*/
.about-us {
  background-color: #eeeeee;
}

.about-us .container {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.about-us .container .text-box {
  max-width: 32%;
}

.about-us .container .gallery {
  max-width: 65%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.picture-box {
  max-width: 32%;
}

/*
*
* ABOUT US END
*
*/
/*
*
* HOW TO PLAY START
*
*/
.how-to-play {
  background-color: #ffffff;
}

.how-to-play .gallery {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 20px;
}

.link-box {
  width: 21%;
  text-align: center;
  padding-top: 10px;
}

.link-box img {
  border-radius: 100%;
}

.link-box img:hover {
  opacity: 0.7;
  border: 3px solid #00bac6;
}

/*
*
* HOW TO PLAY START
*
*/
/*
*
* EVENTS BEGIN
*
*/
.events {
  background-color: #eeeeee;
}

.event-box {
  text-align: center;
}

.event-box .details {
  width: 50%;
  text-align: left;
}

.event-box #map {
  width: 50%;
  min-height: calc(width);
}

/*
*
* EVENTS END
*
*/
/*
*
* GET IN TOUCH BEGIN
*
*/
.question {
  background-color: #ffffff;
}

.question-box {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  background-color: #eeeeee;
  border-radius: 10px;
  padding: 10px;
}

.question-box .flex-container {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.question-box .flex-container .credentials {
  width: 48%;
}

input[type=text],
input[type=email] {
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid #00bac6;
  border-radius: 5px;
}

textarea {
  width: 98%;
  min-height: 150px;
  resize: vertical;
  border: 1px solid #00bac6;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
}

input[type=submit] {
  font-size: 1rem;
  background-color: rgba(0, 186, 198, 0.5);
  color: #ffffff;
  padding: 15px 23px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #00bac6;
}

/*
*
* GET IN TOUCH END
*
*/
